{% extends "base.html" %}
{% load static %}

{% block javascript_imports %}
<script type="text/javascript" src="{% static 'exercises/audio.js' %}"></script>
{% endblock %}

{% block nav_items %}
{% if exercise %}
<li class="nav-item">
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exercise-explanation">Exercise explanation</button>
</li>
<li class="nav-item">
    <a href="{% url "exercises:intervals_settings" pk=exercise.settings.id %}" class="btn btn-outline-warning" role="button">Exercise settings</a>
</li>
<li class="nav-item">
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#reset-score-confirmation">Reset score</button>
</li>
<div class="modal" id="reset-score-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to reset score?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-footer">
                <form action="{% url 'exercises:intervals_reset_score' %}" method="post" id="reset-score-button-form">{% csrf_token %}</form>
                <button type="submit" class="btn btn-success" form="reset-score-button-form">Confirm</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="exercise-explanation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Intervals exercise: explanation</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    In this exercise, two notes will be played.
                    Your task is to specify the <a href="https://en.wikipedia.org/wiki/Interval_(music)" target="_blank">interval</a> between them.
                </p>
                <p>
                    Intervals on answer buttons are displayed in their shorthand form 
                    (e.g. "#4" is augmented fourth, "b3" is minor third, "5" is perfect fifth).
                </p>
                <p>
                    If "interval type" setting is set to harmonic, then notes will be played simultaneously.
                    If it's set to melodic, then notes will be played sequentially.
                </p>
                <p>
                    To generate new question, click "Next" button.
                    To play the question again, click "Repeat" button.
                    After answering the question, you can listen to all possible answers by clicking answer buttons.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Got it!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block content %}
{% if exercise %}
<div class="container h5 h-50">
    {% block feedback %} 
    <p>
        Score: {{ exercise.score }}
    </p>
    {% endblock %} 
</div>

<div class="container">
    <div class="row mb-4">
        {% block answers %}{% endblock %}
    </div>
    <div class="row">
        <div class="col-md-2 d-grid">
            <button type="button" id="repeat-button" class="btn btn-outline-success btn-lg">Repeat</button>
        </div>
        <div class="col-md-2 d-grid">
            <form action="{% url 'exercises:intervals_question' %}" method="post" id="next-button-form">{% csrf_token %}</form>
            <button type="submit" class="btn btn-outline-success btn-lg" form="next-button-form">Next</button>
        </div>
        <div class="col-2 offset-md-6 d-grid">
            <span class="h6">Volume: </span>
            <input
                type="range"
                min="0.0"
                max="1.0"
                step="0.01"
                value="0.5"
                list="volumes"
                name="volume" />
            <datalist id="volumes">
                <option value="0.0" label="Mute"></option>
                <option value="1.0" label="100%"></option>
            </datalist>
        </div>
    </div>
</div>
{% else %}
<form action="{% url 'exercises:intervals_question' %}" method="post" id="start-button-form">{% csrf_token %}</form>
<div class="container">
    <button type="submit" class="btn btn-success btn-lg" form="start-button-form">Start</button>
</div>
{% endif %}

{% endblock %}

{% block javascript_code %}
<script>
setupVolumeControl();

const repeatButton = document.querySelector("#repeat-button");
repeatButton.addEventListener("click", () => {
    playAudio('{{ exercise.question.get_audio_url }}');
});
</script>
{% endblock %}
